{
  "email": {
    "imap_server": "imapmail.libero.it",
    "imap_port": 993,
    "smtp_server": "smtp.libero.it",
    "smtp_port": 587,
    "username": "user@libero.it",
    "password": "your_password_here"
  },
  "security": {
    "trusted_sender": "authorized@yahoo.it"
  },
  "keywords": {
    "start": "parti",
    "stop": "stop"
  },
  "settings": {
    "check_interval": 60
  }
}
